.contacts__heading {
  font-size: @font-size--h2;
  font-weight: @font-weight--light;
  line-height: @line-height--large;
  color: @grey--dark;
}

.contacts__item {
  border: 1px dashed orange;
}

.contacts__item-title {
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: @line-height--large;
  color: @grey--dark;
}

.contacts__item-contact {
  font-size: @font-size--h2;
  line-height: @line-height--large;
  font-weight: @font-weight--light;
  color: @pink;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .contacts__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__heading {
    font-size: @line-height--xxxl;
  }

  .contacts__item {
    flex-basis: 300px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__heading {
    margin-bottom: 50px;
    font-size: 50px;
    // line-height: 60px;
  }

  .contacts__item {
    margin-bottom: 15px;
  }

  .contacts__item--email {
    order: 3;
  }

  .contacts__item--address {
    order: 2;
  }
}
