.download-app {
  display: flex;
  flex-direction: column;
  background-color: @bg--dark;
  color: @text--white;
}

@media (min-width: @tablet-width) {
  .download-app {
    background-color: transparent;
    text-align: center;
    margin-top: -307px;
    padding-bottom: 100px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    margin-top: -330px;
  }
}

.download-app__wrapper {
  width: 300px;
}

.download-app__main-link {
  display: block;
  max-width: 280px;
  margin: 0 auto 35px;
  padding: 0 35px;
  border: 3px solid white;
  border-radius: 25px;
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: 50px;
  text-decoration: none;
  color: @text--white;
}

@media (min-width: @tablet-width) {
  .download-app__main-link {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__main-link {
    max-width: 300px;
    padding: 0;
    margin-bottom: 70px;
    font-size: 20px;
  }
}

.download-app__text {
  font-size: @font-size--reg;
  font-weight: @font-weight--light;
  line-height: @line-height--medium;
}

@media (min-width: @tablet-width) {
  .download-app__text {
    font-size: @font-size--big;
  }
}

@media (min-width: @desktop-width) {
  .download-app__text {
    font-size: @font-size--big;
  }
}
