.features {
  height: 1002px;
  color: @grey--dark;
  background-color: @text--white;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.features__title {
  height: 217px;
}

.features__items {
  height: 786px;
}

.features-item {
  height: 100px;
}

.features__wrapper {
  background-color: @bg--grey;
}

.features__heading {
  color: @grey--dark;
  font-size: @font-size--h2;
  font-weight: @font-weight--light;
  line-height: @line-height--medium;
}
