.features {
  color: @grey--dark;
  background-color: @bg--grey;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.features__title {
  height: 215px;
}

.features__items {
  height: 785px;
}

.features__heading {
  color: @grey--dark;
  font-size: @font-size--h2;
  font-weight: @font-weight--light;
  line-height: @line-height--medium;
}
