.features {
  background: @bg--grey;
  border: 1px solid red;
}

.features__item {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .features {
    text-align: left;
  }

  .features__wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .features__items {
    margin-left: 50%;
  }

  .features__img {
    position: absolute;
    width: 295px;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .features {
    text-align: center;
  }

  .features__wrapper {
    height: 550px;
  }

  .features__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    margin: 0;
  }

  .features__item {
    flex-basis: 257px;
  }

  .features__img {
    display: none;
  }

  .features__item:nth-child(1)::after {
    content: "";
    width: 165px;
    position: absolute;
    bottom: 225px;
    left: 75px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 23px;
    min-height: 302px;
  }

  .features__item:nth-child(2)::after {
    content: "";
    width: 165px;
    position: absolute;
    bottom: 225px;
    left: 385px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 23px;
    min-height: 302px;
  }

  .features__item:nth-child(3)::after {
    content: "";
    width: 165px;
    position: absolute;
    bottom: 225px;
    right: 75px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 23px;
    min-height: 302px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: @black;
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
}

@media (min-width: @desktop-width) {
  .features__title {
    margin-bottom: 20px;
    font-size: @font-size--h1;
    line-height: @line-height--large;
  }
}

.features__text {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}

@media (min-width: @desktop-width) {
  .features__text {
    line-height: @line-height--large;
  }
}

.features__img {
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 23px;
  min-height: 302px;
}
