.features-item__title {
  color: @black;
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
}

.features-item__text {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}
