.filter-range {
  background-color: @bg--grey;

  &__btn {
    color: @pink;
    font-size: @font-size--big;
    font-weight: @font-weight--big;
    line-height: @line-height--base;
    border-color: @pink;
  }
}
