.filter-range {
  background-color: @bg--grey;
}

.filter-range__controls {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  // font-size: 0;
}

.filter-range__btn--post,
.filter-range__btn--cancel {
  width: 280px;
  color: @pink;
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: @line-height--base;
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 50px;
  border: 2px solid @pink;
}
