.page-header {
  // min-height: 325px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  color: @text--white;
  background-color: @bg--dark;
}

.page-header__wrapper {
  padding: 0 20px;
  background-color: @grey--dark;
  border: 1px solid red;
}

.page-header_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 120px;
  }

  .page-header__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .page-header__container {
    display: flex;
    justify-content: space-around;
  }

  .page-header__toggle {
    display: none;
  }
}
