.page-intro {
  color: @text--white;
  background-color: @bg--dark;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
}
