.page-footer__wrapper {
  display: none;
  border: 1px solid green;
}

.page-footer__logo {
  align-self: flex-start;
  width: 145px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;
  background-size: 145px auto;
}

.page-footer__copyright {
  font-size: @font-size--reg;
  line-height: 18px;
  color: @grey--dark;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 60px 0;
  }
}
