.page-footer {
  background-color: @bg--white;
}

.contacts {

  &__heading {
    color: @grey--dark;
    font-size: @font-size--h2;
  }
}

.contacts-item {

  &__title {
    color: @grey--dark;
    font-size: @font-size--big;
  }
  &__contact{
    color: @pink;
    font-size: @font-size--h2;
    font-weight: @font-weight--light;
  }
}

.map {
  width: 100%;
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
