// .page-intro {
//   position: relative;
// }

.page-intro__image {
  min-height: 460px;
  background: url("../img/iphone-hand-mobile@1x.png") 50% 175px no-repeat, url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
  background-size: contain, cover;
}

@media (min-width: @tablet-width) {
  .page-intro__image {
    min-height: 725px;
    background: url("../img/iphone-hand-mobile@1x.png") 80% 100% no-repeat, url("../img/bg-back-mobile@1x.jpg") 50% 100% no-repeat;
    background-size: 490px, cover;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .page-intro__image {
    min-height: 855px;
    background: url("../img/iphone-hand-mobile@1x.png") 75% 100% no-repeat, url("../img/bg-back-mobile@1x.jpg") 50% 50% no-repeat;
    background-size: 580px, cover;
  }
}

.page-intro__title {
  font-size: 0;
  font-weight: @font-weight--light;
  color: @text--white;
}

@media (min-width: @tablet-width) {
  .page-intro__title {
    font-size: @line-height--xxxl;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-intro__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

.page-intro__wrapper {
  padding-top: 200px;
  width: 300px;
}
