.popup {
  &__wrapper-top {
    background-color: @bg--white;
  }

  &__title {
    color: @black;
    font-size: @font-size--big;
    font-weight: @font-weight--big;
    line-height: @line-height--medium;
  }

  &__wrapper-bott {
    background-color: @bg--grey;
  }

  &__btn {
    color: @text--white;
    font-size: @font-size--big;
    font-weight: @font-weight--big;
    line-height: @line-height--large;
    background-color: @green;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
  }
}
