.posts-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.posts-item__wrapper {
  margin-bottom: 20px;
}

.posts-item__wrapper--first-rait {
  position: relative;
  background-color: @bg--white;
}

.posts-item__img-wrapper--first-rait {
  height: 137px;
}

.posts-item__review {
  position: relative;
  padding-left: 18px;
  text-align: left;
}

.posts-item__review--grey {
  background-color: @bg--grey;
}

.posts-item__flag {
  position: absolute;
  content: "";
  left: 50%;
  padding: 9px 19px;
  color: @text--white;
  font-size: @font-size--small;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
  background-color: @pink;
}

.posts-item__name {
  color: @black;
  font-size: @font-size--reg;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
}

.posts-item__date {
  color: @grey--dark;
  font-size: @font-size--small;
  font-weight: @font-weight--light;
  line-height: @line-height--medium;
  // flex-shrink: 3;
}

.posts-item__blockquote {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}

.posts-item__like--amount {
  color: @pink;
  font-size: @font-size--small;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}

@media (min-width: @tablet-width) {
  .posts__item__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .posts-item__wrapper {
    flex-basis: 300px;
  }

  .posts-item__review--containder {
    height: 155px;
  }

  .posts-item__image {
    width: 300px;
  }
  // .posts-item__like--panorama {
  //   position: absolute;
  //   content: "";
  //   left: 80%;
  //   top: 0;
  // }
}
//
// @media (min-width: @desktop-width) {
// }
