.posts-item {
  &--grey {
    background-color: @bg--grey;
  }

  &--amount {
    color: @pink;
    font-size: @font-size--small;
    font-weight: @font-weight--regular;
    line-height: @line-height--medium;
  }
}

.posts-item__img-wrapper {
  padding: 0;
  margin: 0;
}

.posts-item__review {
  padding: 20px;
}

.posts-item__flag {
  color: @text--white;
  font-size: @font-size--small;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
  background-color: @pink;
}

.posts-item__name {
  color: @black;
  font-size: @font-size--reg;
  font-weight: @font-weight--big;
  line-height: @line-height--medium;
}

.posts-item__date {
  color: @grey--dark;
  font-size: @font-size--small;
  font-weight: @font-weight--light;
  line-height: @line-height--medium;
}

.posts-item__blockquote {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}
