.posts-item {
  &__review--grey {
    background-color: @bg--grey;
  }

  &__flag {
    color: @text--white;
    font-size: @font-size--small;
    font-weight: @font-weight--big;
    line-height: @line-height--medium;
    background-color: @pink;
  }

  &__name {
    color: @black;
    font-size: @font-size--reg;
    font-weight: @font-weight--big;
    line-height: @line-height--medium;
  }

  &__date {
    color: @grey--dark;
    font-size: @font-size--small;
    font-weight: @font-weight--light;
    line-height: @line-height--medium;
  }

  &__blockquote {
    color: @grey--dark;
    font-size: @font-size--reg;
    font-weight: @font-weight--regular;
    line-height: @line-height--medium;
  }

  &__like--amount {
    color: @pink;
    font-size: @font-size--small;
    font-weight: @font-weight--regular;
    line-height: @line-height--medium;
  }
}
