.posts-slogan {
  background-color: @bg--white;
}

.posts-slogan__heading {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--large;
}
