.posts-title {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom;
  background-repeat: no-repeat, no-repeat;

  &__heading {
    color: @text--white;
    font-size: @font-size--h2;
    font-weight: @font-weight--light;
    line-height: @line-height--medium;
  }
}
