.proof {
  display: none;
  background-color: @bg--white;
}

@media (min-width: @tablet-width) {
  .proof {
    display: block;
  }

  .proof__wrapper {
    min-height: 360px;
    padding: 90px 20px 0 47%;
    background: url("../img/icon-editor-diagram-fill.svg") 0 125px no-repeat;
    background-size: 230px auto;
  }

  .proof__content {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .proof {
    background-color: @bg--grey;
    min-height: 450px;
  }

  .proof__wrapper {
    padding: 90px 20px 0 45%;
    background-position: 10% 45%;
    background-size: 300px auto;
  }
}

.proof__title {
  padding: 0 15px 10px 0;
  font-size: @font-size--h1;
  font-weight: @font-weight--big;
  line-height: @line-height--xxl;
}

@media (min-width: @desktop-width) {
  .proof__title {
    padding-bottom: 20px;
  }
}

.proof__text {
  margin-bottom: 10px;
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
}

@media (min-width: @desktop-width) {
  .proof__text {
    margin-bottom: 30px;
    font-size: @font-size--big;
    line-height: @line-height--large;
  }
}

.proof__link {
  display: block;
  padding-bottom: 30px;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--medium;
  color: @pink;
}
