.reviews__item {
  border: 1px solid green;
}

.reviews__header {
  color: @black;
  margin-bottom: 15px;
  font-size: @font-size--big;
  font-weight: @font-weight--big;
  line-height: @line-height--large;
}

.reviews__description {
  display: none;
  color: @grey--dark;
}

.reviews__text {
  color: @grey--dark;
  font-size: @font-size--reg;
  font-weight: @font-weight--regular;
  line-height: @line-height--large;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__header {
    order: 2;
    margin-bottom: 0;
    font-size: @font-size--big-ex;
    line-height: @line-height--large;
  }

  .reviews__description {
    display: block;
    order: 3;
    font-size: @font-size--reg;
    font-weight: @font-weight--regular;
    line-height: @line-height--large;
  }

  .reviews__text {
    order: 1;
    margin-bottom: 35px;
    font-size: @font-size--big;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item {
    max-width: 690px;
    margin: 0 auto;
  }

  .reviews__header {
    font-size: @font-size--h2;
    line-height: @line-height--large;
  }

  .reviews__description {
    font-size: @font-size--big;
  }
}
